/* Estilos gerais DAS BARRAS VERTICAL E HORIZONTAL */
/* Barra lateral */
aside {
    background-color: #990000; /* Cor vermelha da barra lateral */
    color: #fff;
}

aside a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 1.1rem;
}

aside a:hover {
    background-color: #cc0000; /* Tom mais claro ao passar o mouse */
}

/* Cabeçalho */
header {
    background-color: #990000; /* Cor de fundo do cabeçalho */
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logout-button {
    background: none;
    border: none;
}

.logout-icon {
    width: 25px;
    height: 25px;
}

/* Estilo da Tabela */
.table-responsive {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

thead {
    background-color: #333;
    color: #fff;
}

tbody tr {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo dos botões de ação */
.btn-success {
    background-color: #28a745; /* Verde */
    border: none;
}

.btn-warning {
    background-color: #ffc107; /* Amarelo */
    border: none;
}

.btn-danger {
    background-color: #dc3545; /* Vermelho */
    border: none;
}

.btn-primary {
    background-color: #0066cc; /* Azul para o botão 'Incluir Funcionário' */
}

/* Botão de logout */
.logout-button img {
    width: 20px;
    height: 20px;
}

