/* Ajustando layout global */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Faz o conteúdo ocupar a altura toda da tela */
    background-color: #f8f8f8;
}

.login-container {
    height: auto; /* Ajusta a altura automática */
    margin: 30px; /* Espaçamento ao redor da página */
    max-width: 1000px; /* Limita a largura máxima da página */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra ao redor */
    border-radius: 10px; /* Canto arredondado */
    overflow: hidden;
}

.left-section {
    background-color: #f8dada;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
    color: #d64545;
    font-weight: bold;
}

.login-box {
    background-color: #b82424;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px; /* Espaçamento interno */
}

.login-form {
    width: 100%;
    max-width: 320px;
}

.welcome-text {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.input-group-text {
    background-color: #fff;
    border: none;
}

.form-control {
    border: none;
    padding: 12px;
    font-size: 16px;
}

.form-control:focus {
    box-shadow: none;
}

.options label, .options a {
    font-size: 14px;
    color: white;
}

.options a:hover {
    text-decoration: underline;
}

.btn.login-button {
    background-color: white;
    color: #b82424;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    border: none;
    font-weight: bold;
}

.btn.login-button:hover {
    background-color: #d64545;
    color: white;
}

/* Responsivo */
@media (max-width: 991px) {
    .left-section {
        display: none;
    }
}

@media (max-width: 767px) {
    .login-container {
        margin: 20px; /* Reduz o espaçamento nas laterais em telas menores */
    }

    .login-box {
        padding: 30px; /* Reduz o padding na seção de login em telas menores */
    }
}
